# PostgreSQL Config
POSTGRES_PASSWORD=changeme
# Changer ./db/pgadmin/servers.json si l'utilisateur est changé
POSTGRES_USER=dbuser
POSTGRES_DB=mieuxges

# pgadmin Config
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=changeme